body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#navbar{
    text-align: center;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    color: white;
    background-color: blueviolet;
    z-index: 1;
}
.name-design{
    color: orange;
    font-weight: bolder;
}
a{
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
p{
    font-size: 19px;
    text-align: justify;
    font-weight: bolder;
}
h1{
    font-size: 20px;
}
h2{
    position: relative;
    font-size: 25px;
    font-weight: bolder;
}
h3{
    font-size: 25px;
}
h4{
    text-align: center;
    font-size: 25px;
}
h5{
    font-size: 30px;
    font-weight: bolder;
}
.image{
    width: 45%;
    height: auto;
    position: absolute;
    right: 0%;
    top: 0%;
}
.buttons{
    border-radius: 5px;
    background-image: linear-gradient( 80deg, tomato,black);
    color: white;
    border: 1px solid black;
    font-size: 20px;
    font-family: monospace;
    box-shadow: 1px 1px 5px black;
}
.buttons:hover{
    background-image: linear-gradient(80deg, white,tomato);
    font-size: 21px;
}
a:hover{
    color: black;
    font-weight: bolder;
}
.container{
    margin-left: 5%;
    width: 40%;
    float: left;
}
.container img{
    width: 100%;
    margin-left: 5%;
}
.top-banner{
    background-image: url("images/developer-portfolio/top-banner.png");
    height: 550px;
    margin-top: 80px;
    background-repeat: no-repeat;
}
.middle-banner{
    margin-top: 2%;
    height: 650px;
    background-image: url(images/developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middle-banner .container{
    margin-left: 5%;
    margin-top: 5%;
}
.middle-banner .container h3{
    padding-top: 30px;
    padding-left: 20%;
}
.middle-banner .container p{
    text-align: justify;
    line-height: 30px;
}
.middle-banner .container button{
    margin-left: 30%;
}
.last-part{
    margin-top: 5%;
    background-image: url("images/developer-portfolio/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
}
.last-part .container{
    padding-left: 3%;
    border-left: 5px solid tomato;
    box-shadow: 1px 1px 5px black;
}
.container2{
    margin-left: 5%;
    width: 40%;
    float: left;
    border-left: rgb(65, 65, 161) solid 5px;
    padding-left: 3%;
    box-shadow: 1px 1px 5px black;
}