body{
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    text-align: center;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    color: white;
    background-color: blueviolet;
}
.name-design{
    color: orange;
}
a{
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
p{
    font-weight: bold;
    font-size: 19px;
}
h1{
    font-size: 20px;
}
h2{
    position: relative;
    top: 40px;
    font-size: 25px;
}
h3{
    font-size: 25px;
}
.image{
    width: 45%;
    height: auto;
    position: absolute;
    right: 0%;
    top: 0%;
}
.buttons{
    border-radius: 5px;
    background-color: rgb(80, 82, 185);
    color: white;
    border: 1px solid black;
    font-size: 20px;
    font-family: monospace;
    box-shadow: 1px 1px 5px black;
}
.buttons:hover{
    background-color: white;
    color: black;
    font-size: 21px;
}
a:hover{
    color: black;
}
.container{
    top: 20px;
    position: relative;
    /* left: 40px; */
}
.top-banner{
    background-image: url("images/developer-portfolio/top-banner.png");
    background-repeat: repeat;
    margin-top: 70px;
}