body{
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    text-align: center;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    color: white;
    background-color: blueviolet;
}
.name-design{
    color: orange;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: blueviolet;
}
p{
    font-weight: bold;
    font-size: 18px;
}
.image{
    width: 45%;
    height: auto;
    position: absolute;
    right: 0%;
    top: 0%;
}
.first-sec{
    margin: 30px;
}
.buttons{
    border-radius: 5px;
    background-color: orangered;
    color: white;
    border: 1px solid black;
    font-size: 20px;
    font-family: monospace;
    box-shadow: 1px 1px 5px black;
}
.buttons:hover{
    background-color: white;
    color: black;
    font-size: 21px;
}